@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Scientifica", "JetBrains Mono Nerd Font Mono", Inter, Avenir,
    Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.logo {
  font-family: "Scientifica";
  font-size: 16px;
  line-height: 16px;
}

@keyframes colorful {
  0% {
    color: cyan;
  }
  25% {
    color: green;
  }
  50% {
    color: yellow;
  }
  75% {
    color: red;
  }
  100% {
    color: pink;
  }
}
